## event_id: Optional[int]
## key: Optional[str]


<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SI reader</title>
        <link rel="stylesheet" href="mystatic/style.css"/>
        <link rel="stylesheet" href="mystatic/style-tab.css"/>
        <style>
            .bgr {background-color: #ff7070;}
            .bgy {background-color: #ffff00;}
            .bgg {background-color: #70ff70;}
            .s1 {font-size: 1.5em;}
            .s2 {font-size: 2.5em; color: red;}
        </style>
    </head>
    <body>
        <div id="page"></div>

        <div class="modal" id="si2.tlsErrorDialog">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close" onclick="closeErrorDialog()">&times;</span>
                <p>TLS handshake error, try to open <a id="si2.tlsErrorLink" target="_blank"></a></p>
                <button type="button" class="btn cancel" onclick="closeErrorDialog()">Close</button>
            </div>
        </div>

        <script>
            var event_id = "${event_id}";
            var key = "${key | f, n}";
            var status = 'offline';

            var ws_uri;
            if (window.location.protocol === "https:") {
                ws_uri = "wss:";
            } else {
                ws_uri = "ws:";
            };
            ws_uri += "//" + window.location.hostname + ":8081/si2";

            function statusMessage() {
                var text = '';

                switch (status) {
                    case 'noAccess':
                        text = 'No access rights';
                        break;
                    case 'error':
                        text = 'Error';
                        break;
                    case 'offline':
                        text = 'Offline';
                        break;
                };
                document.getElementById('page').innerHTML = '<p class="s2">' + text + '</p>';
            };

            function closeErrorDialog() {
                document.getElementById('si2.tlsErrorDialog').style.display='none';
                start(ws_uri);
            };

            function start(websocketServerLocation){
                var ws = new WebSocket(websocketServerLocation);
                var tm = null;
                var tp = null;

                ws.onopen = function(event) {
                    ws.send(event_id + ',' + key + ',' + 'false');
                    tp = setTimeout(function() {ping()}, 10000);
                };
                ws.onclose = function(event) {
                    ws = null;
                    clearTimeout(tm);
                    clearTimeout(tp);

                    if (event.code == 1015) {
                        statusMessage();
                        var uri = window.location.protocol + "//" + window.location.hostname + ":8081";
                        document.getElementById('si2.tlsErrorLink').href = uri;
                        document.getElementById('si2.tlsErrorLink').text = uri;
                        document.getElementById('si2.tlsErrorDialog').style.display='block';
                    } else if (status != 'noAccess') {
                        status = 'offline';
                        statusMessage();
                        // Try to reconnect in 5 seconds
                        setTimeout(function(){start(websocketServerLocation)}, 5000);
                    };
                };
                ws.onmessage = function(event) {
                    var msg = event.data;
                    if (msg == '__pong__') {
                        pong();
                        return;
                    }
                    if (msg == '__no_access__') {
                        ws.close();
                        status = 'noAccess';
                        statusMessage();
                        return;
                    }
                    var elem = document.getElementById('page');
                    elem.innerHTML = msg;
                    window.scrollTo(0, 100000);
                };

                // workaround to detect lost websocket connection in the browser
                // see https://stackoverflow.com/questions/26971026/handling-connection-loss-with-websockets
                function ping() {
                    ws.send('__ping__');
                    tm = setTimeout(function() {nopong()}, 10000);
                };
                function pong() {
                    clearTimeout(tm);
                    tp = setTimeout(function() {ping()}, 15000);
                };
                function nopong() {
                    ws.close();
                };
            };

            start(ws_uri);
        </script>
    </body>
</html>
 
