$def with (entry, classes, clubs, results, event_fields)

$def format_date(time):
    $if time is not None:
        $return time.strftime('%H:%M:%S')
    $else:
        $return ''


$if entry:
    $ id = entry.id
    $ competitor_id = entry.competitor_id
    $ first_name = entry.first_name
    $ last_name = entry.last_name
    $ class_id = entry.class_id
    $ class_name = entry.class_name
    $ club_id = entry.club_id
    $ club_name = entry.club_name
    $ gender = entry.gender
    $ year = str(entry.year) if entry.year is not None else ''
    $ not_competing = entry.not_competing
    $ chip = entry.chip
    $ fields = entry.fields
    $ result = entry.result
    $ start = entry.start

$else:
    $ id = ""
    $ competitor_id = ""
    $ first_name = ""
    $ last_name = ""
    $ class_id = ""
    $ class_name = ""
    $ club_id = ""
    $ club_name = ""
    $ gender = ""
    $ year = None
    $ not_competing = False
    $ chip = ""
    $ fields = {}
    $ result = PersonRaceResult()
    $ start = PersonRaceStart()


<!-- Modal content -->
<div class="modal-content">
    <span class="close" onclick="document.getElementById('entr.addDialog').style.display='none'">&times;</span>
    <form id="entr.formAdd" class="form-container" autocomplete="off" onsubmit="entr_submitAdd(); return false;">
        <input id="entr.addId" name="id" type="text" value="$id" hidden/>
        <input id="entr.addCompId" name="competitor_id" type="text" value="$competitor_id" hidden/>
        <table id="entr.addFormTable">
            <tr>
                <th class="input-header"><label for="ent_firstName">First name *</label></th>
                <td><input id="ent_firstName" name="first_name" type="text" value="$first_name" oninput="mark_label(this)" required/>
                    $if not id:
                        <button type="button" id="entr.myBtnCompetitors" onclick="entr_myCompetitors()">Competitors ...</button>
                </td>
            </tr>
            <tr>
                <th class="input-header"><label for="ent_lastName">Last name *</label></th>
                <td><input id="ent_lastName" name="last_name" type="text" value="$last_name" oninput="mark_label(this)" required/></td>
            </tr>
            <tr>
                <th class="input-header"><label for="ent_gender">Gender</label></th>
                <td>
                    <select id="ent_gender" name="gender" oninput="mark_label(this)">
                    $for g in ['', 'F', 'M']:
                        $if g == gender:
                            <option value="$g" selected>$g</option>
                        $else:
                            <option value="$g">$g</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="input-header"><label for="ent_year">Year</label></th>
                <td><input id="ent_year" name="year" type="number" min="1900" max="2099"
                           value="$year" oninput="mark_label(this)"/></td>
            </tr>
            <tr>
                $ readonly = "readonly" if [r for r in results if r['key'] == -1] else ""
                $ disabled = "disabled" if [r for r in results if r['key'] == -1] else ""
                <th class="input-header"><label for="ent_chip" $disabled>Chip</label></th>
                <td><input id="ent_chip" name="chip" type="text" value="$chip" oninput="mark_label(this)" $readonly/></td>
            </tr>
            <tr>
                <th class="input-header"><label for="ent_clubId">Club</label></th>
                <td>
                    <select id="ent_clubId" name="club_id" oninput="mark_label(this)">
                    $if club_id is None:
                        <option value="" selected></option>
                    $else:
                        <option value=""></option>
                    $for club in clubs:
                        $if club.id == club_id:
                            <option value="$club.id" selected>$club.name</option>
                        $else:
                            <option value="$club.id">$club.name</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="input-header"><label for="ent_classId">Class *</label></th>
                <td>
                    <select id="ent_classId" name="class_id" oninput="mark_label(this)" required>
                    $for class_ in classes:
                        $if class_.id == class_id:
                            <option value="$class_.id" selected>$class_.name</option>
                        $else:
                            <option value="$class_.id">$class_.name</option>
                    </select>
                </td>
            </tr>
            $for i in range(len(event_fields)):
                $ name = 'f' + str(i)
                <tr>
                    <th class="input-header"><label for="entf_$name">$(event_fields[i])</label></th>
                    <td><input id="entf_$name" name="$name" type="text" value="$fields.get(i, '')" oninput="mark_label(this)"/></td>
                </tr>
            <tr>
                <th class="input-header"><label for="ent_notCompeting">Not competing</label></th>
                <td><input id="ent_notCompeting" name="not_competing" type="checkbox" value="true" oninput="mark_label(this)" $('checked' if not_competing else '')/></td>
            </tr>
            <tr>
                <th class="input-header"><label for="ent_startTime">Start time</label></th>
                <td><input id="ent_startTime" name="start_time" type="time" step="1" value="$(format_date(start.start_time))" oninput="mark_label(this)"/></td>
            </tr>
            <tr>
                <th class="input-header"><label for="ent_status">Status</label></th>
                <td>
                    $ has_no_result = [r for r in results if r['key'] == -1] == []
                    <select id="ent_status" name="status" oninput="mark_label(this)">
                    $for status in list(ResultStatus):
                        $if status == result.status:
                            <option value="$status.value" selected>$MAP_STATUS[status]</option>
                        $elif has_no_result or status not in (ResultStatus.INACTIVE, ResultStatus.ACTIVE, ResultStatus.DID_NOT_START):
                            <option value="$status.value">$MAP_STATUS[status]</option>
                    </select>
                </td>
            </tr>
            $if results != []:
                <tr>
                    <th class="input-header"><label for="ent_result">Result</label></th>
                    <td>
                        <select id="ent_result" name="result" oninput="mark_label(this)">
                            <option value="" selected></option>
                            $for r in results:
                                <option value="$str(r['key'])">$r['value']</option>
                        </select>
                    </td>
                </tr>
        </table>
        <p></p>
        <button type="submit" class="btn">Save</button>
        <button type="button" class="btn cancel" onclick="document.getElementById('entr.addDialog').style.display='none'">Cancel</button>
    </form>
</div>
 
