$def with (course)

$if course:
    $ id = str(course.id)
    $ name = course.name
    $ length = str(round(course.length)) if course.length is not None else ""
    $ climb = str(round(course.climb)) if course.climb is not None else ""
    $ controls = " - ".join(course.controls)
$else:
    $ id = ""
    $ name = ""
    $ length = ""
    $ climb = ""
    $ controls = ""

<!-- Modal content -->
<div class="modal-content">
    <span class="close" onclick="document.getElementById('cou.addDialog').style.display='none'">&times;</span>
    <form id="cou.formAdd" class="form-container" autocomplete="off" onsubmit="cou_submitAdd(); return false;">
        <input id="cou.addId" name="id" type="text" value="$id" hidden/>
        <table id="cou.addFormTable">
            <tr>
                <th class="input-header"><label for="cou_name">Name *</label></th>
                <td><input id="cou_name" name="name" type="text" value="$name" required oninput="mark_label(this)"/></td>
            </tr>
            <tr>
                <th class="input-header"><label for="cou_length">Length</label></th>
                <td><input id="cou_length" name="length" type="number" min="0" max="99999" placeholder="meters" value="$length" oninput="mark_label(this)"/></td>
            </tr>
            <tr>
                <th class="input-header"><label for="cou_climb">Climb</label></th>
                <td><input id="cou_climb" name="climb" type="number" min="0" max="99999" placeholder="meters" value="$climb" oninput="mark_label(this)"/></td>
            </tr>
            <tr>
                <th class="input-header"><label for="cou_controls">Controls</label></th>
                <td><input id="cou_controls" name="controls" type="text" placeholder="c1 - c2 - c3" value="$controls" oninput="mark_label(this)"/></td>
            </tr>
        </table>
        <p></p>
        <button type="submit" class="btn">Save</button>
        <button type="button" class="btn cancel" onclick="document.getElementById('cou.addDialog').style.display='none'">Cancel</button>
    </form>
</div>
 
