## clubs: List[ClubType]


<input id="club.filter" oninput="filter_table('clb.table', 'tr', this.value)" placeholder="Search ...">
<p/>

<table class="dte" id="clb.table" onclick="clb_highlight(event)" ondblclick="clb_highlight(event)" onmousedown="table_mousedown(event)">
    <thead>
        <tr id="club.theader" class="dth">
            <th class="dth">Name</th>
        </tr>
    </thead>
    <tbody id="clubs_tbody">
        % if clubs:
            <tr class="dte h1">
                <th class="dte h1" colspan="99">Clubs&nbsp;&nbsp;(${len(clubs)})</th>
            </tr>
            % for club in clubs:
                <tr class="dte" data-id="${club.id}">
                    <td class="dte">${club.name}</td>
                </tr>
            % endfor
        % endif
    </tbody>
</table>

