$def with (event, courses)


<div id="cou.event">
    <table style="text-align: left">
        <tr>
            <th style="padding-right: 10px">Event name:</th>
            <td id="cour.event_name">$(event.name if event is not None else '')</td>
        </tr>
        <tr>
            <th style="padding-right: 10px">Event date:</th>
            <td id="cour.event_date">$(event.date.isoformat() if event is not None else '')</td>
        </tr>
    </table>
</div>

<p/>

<input id="cour.filter" oninput="filter_table('cou.table', 'tr', this.value)" placeholder="Search ...">
<p/>

<div>
    <table class="dte" id="cou.table" onclick="cou_highlight(event)" ondblclick="cou_highlight(event)" onmousedown="table_mousedown(event)">
        <thead>
            <tr id="cour.theader" class="dth">
                <th class="dth">Name</th>
                <th class="dth">Length</th>
                <th class="dth">Climb</th>
                <th class="dth">Controls</th>
            </tr>
        </thead>
        <tbody id="courses_tbody">
            $if courses:
                $ name = "Courses&nbsp;&nbsp;(" + str(len(courses)) + ")"
                <tr class="dte h1">
                    <th class="dte h1" colspan="99">$:name</th>
                </tr>
                $for course in courses:
                    <tr class="dte" id="$course.id">
                        <td class="dte">$course.name</td>
                        <td class="dte" style="text-align:right">$(str(round(course.length)) if course.length is not None else '')</td>
                        <td class="dte" style="text-align:right">$(str(round(course.climb)) if course.climb is not None else '')</td>
                        <td class="dte">$' - '.join(course.controls)</td>
                    </tr>
        </tbody>
    </table>
</div>

