## events: List[EventType]


<%!
from typing import Optional


def streaming_enabled(enabled: Optional[bool]) -> str:
    if enabled is None:
        return ""
    elif enabled:
        return "enabled"
    else:
        return "disabled"
%>


<div id="evnt.event">
    <table style="text-align: left">
        <tr>
            <th style="padding-right: 10px">Event name:</th>
            <td id="evnt.event_name"></td>
        </tr>
        <tr>
            <th style="padding-right: 10px">Event date:</th>
            <td id="evnt.event_date"></td>
        </tr>
    </table>
</div>

<p/>

<input id="eve_filter" oninput="filter_table('evnt.table', 'tr', this.value)" placeholder="Search ...">
<p/>

<table class="dte" id="evnt.table" onclick="evnt_highlight(event)" ondblclick="evnt_highlight(event)" onmousedown="table_mousedown(event)">
    <thead>
        <tr id="evnt.theader" class="dth">
            <th class="dth">Name</th>
            <th class="dth">Date</th>
            <th class="dth">Key</th>
            <th class="dth">Publish</th>
            <th class="dth">Streaming</th>
            <th class="dth">Series</th>
            <th class="dth">Fields</th>
        </tr>
    </thead>
    <tbody id="events_tbody">
        % if events:
            <tr class="dte h1">
                <th class="dte h1" colspan="99">Events&nbsp;&nbsp;(${len(events)})</th>
            </tr>
            % for event in events:
                <tr class="dte" data-id="${event.id}">
                    <td class="dte">${event.name}</td>
                    <td class="dte">${event.date.isoformat()}</td>
                    <td class="dte">${"***" if event.key is not None else ""}</td>
                    <td class="dte">${"yes" if event.publish else ""}</td>
                    <td class="dte">${streaming_enabled(event.streaming_enabled)}</td>
                    <td class="dte">${event.series if event.series is not None else ""}</td>
                    <td class="dte">${", ".join(event.fields)}</td>
                </tr>
            % endfor
        % endif
    </tbody>
</table>

